<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-challenge-journal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79C3D5C91CB83BA5005B1F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79C3D5E01CB83BA5005B1F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79C3D5EB1CB83BA5005B1F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
